<div layout="left center">
  <md-button class="status"
             ng-click="$ctrl.showMenu($event, 'status')">
    Status
  </md-button>
  <md-button class="customer-and-passenger"
             ng-click="$ctrl.showMenu($event, 'customer-and-passenger')">
    Customer/Passenger
  </md-button>
  <md-button class="driver-and-car"
             ng-click="$ctrl.showMenu($event, 'driver-and-car')">
    Driver/Car
  </md-button>
  <md-button class="date-and-time"
             ng-click="$ctrl.showMenu($event, 'date-and-time')">
    Date/Time
  </md-button>
  <md-button class="areas"
             ng-click="$ctrl.showMenu($event, 'areas')">
    Areas
  </md-button>
  <md-button class="comments-and-reference"
             ng-click="$ctrl.showMenu($event, 'comments-and-reference')">
    Comments/Reference
  </md-button>
  <md-button class="md-primary md-raised comments-and-reference"
             ng-click="void(0)">
    Filter
  </md-button>
  <md-button class="md-accent md-raised comments-and-reference"
             ng-click="$ctrl.refreshFilter()">
    Reset
  </md-button>
</div>





