<md-content ng-cloak>
  <md-list>
    <md-subheader class="md-no-sticky">Choose a customer</md-subheader>
    <md-list-item>
      <md-input-container>
        <label>Enter a customer name</label>
        <input ng-model="user.title">
      </md-input-container>
    </md-list-item>
    <md-subheader class="md-no-sticky">Choose a passenger</md-subheader>
    <md-list-item>
      <md-input-container>
        <label>Enter a passenger name</label>
        <input ng-model="user.title">
      </md-input-container>
    </md-list-item>
    <md-subheader class="md-no-sticky">Choose a Company</md-subheader>
    <md-list-item>
      <md-input-container>
        <label>Enter a company name</label>
        <input ng-model="user.title">
      </md-input-container>
    </md-list-item>
  </md-list>
</md-content>
