<md-content ng-cloak>
  <md-list>
    <md-subheader class="md-no-sticky">Driver</md-subheader>
    <md-list-item>
      <md-input-container>
        <label>Enter a driver name</label>
        <input ng-model="user.title">
      </md-input-container>
    </md-list-item>
    <md-subheader class="md-no-sticky">Choose a car class</md-subheader>
    <md-list-item layout="center center" ng-repeat="carClass in $ctrl.options.carClasses track by $index">
      <md-checkbox md-theme="checkBox" class="md-primary" ng-model="carClass.selected"></md-checkbox>
      <p class="md-subheader" ng-bind="carClass.name"></p>
    </md-list-item>
  </md-list>
</md-content>


